__pycache__/
.ipynb_checkpoints/
.pytest_cache/
.venv/
.vscode/
chatgpt_change_steps_sent/
excel_name_change/
test_playwright/__pycache__/
test_playwright/.pytest_cache/
test_playwright/.env
test_playwright/config.py
Untitled.ipynb
.vscode/settings.json
